.mainLabel {
    padding: 10px;
    display: flex;
}
.mainLabel:hover {
    cursor:pointer;
}
.firstLabel{
    display: flex;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.firstLabel:hover{
    cursor: pointer;
}
.mainLabelStart:hover{
    cursor: pointer;
}
.mainImageCamera {
    z-index: 999;
    width: 30px; 
    height: 30px; 
    margin-top: -45px;
    margin-left: 200px;
    background: #ffffff;
    border-radius: 50%; 
    padding: 5px;
}
.mainImageCamera:hover{
    background: #eeeeee;
    cursor: pointer;
}
.firstImageCamera{
    z-index: 999;
    width: 30px;
    height: 30px;
    background: #ffffff;
    border-radius: 50%;
    padding: 5px;
}
.mainImageBlank {
    width: 250px;
    height: 250px;
    border: 1px solid #999999;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.mainImageBlank:hover {
    border: 1px solid #000000;
    color: #999999;
    cursor: pointer;
}
.cameraCenter {
    width: 70px;
    height: 70px;
}
.cameraCenter:hover {
    cursor: pointer;
}
.smallCameraCenter{
    width: 30px;
    height: 30px;
}
.smallCameraCenter:hover{
    cursor: pointer;
}
.productImageContainer{
    height: 250px;
    display: flex;
}
.productImage {
    width: 150px;
    height: 150px;
    border: 1px solid #999999;
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    font-size: 12px;
}
.productImageShow{
    width: 150px;
    height: 150px;
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    font-size: 12px;   
    position: relative; 
}
.productImage:hover {
    border: 1px solid #000000;
    color: #999999;
    cursor: pointer;
}